/* Header */

body{
  background-color: #eee;
  font-size: 14px;

}
#head { background:#181015 url( ../images/bg_header.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:6px; color:white; line-height:1.15em; }
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
		#head .tagline a { color:#fff; }
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active,
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen (min-width: 320px) and (max-width: 480px) {
   .carousel,.fade-carousel{
   	   display: none;
   }
}

@media only screen (max-width: 320px) {
   .carousel,.fade-carousel{
   	   display: none;
   }
}



/* Autohide navbar */
.slideUp { top:-100px; }
.headroom {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-top: 0;
}

.navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav li.active a:hover {
  border-bottom: #1abc9c 3px solid;
  color: #33383A;
  background-color: transparent;
}


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; }
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; }
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 0px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.maincontent { }

.gradient-bg {
  background-color: #04a2dc;
  background-image: -webkit-radial-gradient(0 bottom, rgba(63,95,163,0.7) 0, rgba(118,72,160,0) 60%),-webkit-radial-gradient(90% bottom, #3f608c 0, rgba(82,63,140,0) 40%),-webkit-radial-gradient(50% top, rgba(37,88,155,0.6) 0, rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top, #204d79 0, rgba(121,74,162,0) 57%);
  background-image: radial-gradient(at 0 bottom, rgba(63,95,163,0.7) 0, rgba(118,72,160,0) 60%),radial-gradient(at 90% bottom, #3f608c 0, rgba(82,63,140,0) 40%),radial-gradient(at 50% top, rgba(37,88,155,0.6) 0, rgba(84,90,182,0) 75%),radial-gradient(at right top, #204d79 0, rgba(121,74,162,0) 57%);
  background-size: auto,auto,100% 1000px,100% 1000px;
  background-repeat: no-repeat;
}

.welcome > .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 75em;
}
.welcome .big-title{
  font-size: 30px;
  line-height: 1;
  color: #ffffff;
  margin: 10% 0 10px 0;
}
.welcome .see-picks {
  text-transform: uppercase;
  margin-left: 10px;
  color: rgba(255,255,255,0.8);
  font-size: 12px;
}
.welcome .call-to-action, .landing .call-to-action {
  background: #1abc9c;
  padding: 15px 30px;
  border-radius: 30px;
  margin-top: 10px;
  color: white;
  display: inline-block;
}
.welcome .sub-title, .landing .sub-title {
  font-size: 20px;
  color: #999;
  margin: 0 0 10px 0;
  color: rgba(255,255,255,0.8);
}
.welcome {
  padding: 57px 20px;
  text-align: center;
  background: #3f3328;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-image: url(../images/welcome-bg.jpeg);
  /*background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);*/
  /*background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);*/

}
.welcome .connect {
  position: absolute;
  top: 0;
  left: 10%;
  max-width: 90%;
  z-index: -1;
  opacity: 0;
  animation: welcome 10s infinite;
  -webkit-animation: welcome 10s infinite;
}
.welcome .connect.connect2 {
  animation-delay: 8.5s;
  -webkit-animation-delay: 8.5s;
}

footer{
	bottom:0;
	position:relative;
	width: 100%;
	left:0;
}
.add-developer{
  margin-bottom: 10px;
}

.laranaija-news{
  height:800px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e8e8e8;
  overflow: hidden;
}

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; }

/* Footer */
.footer1 { background: #ffffff; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }
		.follow-me-icons i { float:left; margin:0 10px 0 0; }

.footer2 {
  height: 60px;
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.1);
  box-shadow: 0 -1px 2px rgba(0,0,0,.1);
  background-color: #ffffff;
}

.footer2 a {
  color: #f47063;
  text-decoration: none;
}
.footer2 .container{
  padding: 20px;
}
.footer2 a:hover {
  color: #f47063;
  text-decoration: underline;
}
.footer2 p {
  margin: 0;
}

	.widget-simplenav { margin-left:-5px; }
	.widget-simplenav a{ margin:0 5px; }


/* HOME PAGE CAROUSEL
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

.home-error{
	background-image: url(../images/lara-error.jpg);
}

.name-shift {
	padding: 6px 0 0 62px;
	font-size: 1.9em;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 34px;
	color: #626c72;
	font-family: 'Open Sans', sans-serif;
}
a {
color:#f47063;
}

.date-container {
background: #18BC9C;
color: #ffffff;
font-weight: bold;
text-transform: uppercase;
padding: 1px 9px;
float: left;
margin-top: 5px;
width: 56px;
letter-spacing: -1px;
font-size: 21px;
margin-left: -20px;
text-align: center;
position: absolute;
box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.15);
}

.date-container:after {
border-style: solid;
border-width: 10px 0 0 10px;
bottom: -10px;
content: "";
display: block;
left: 0px;
position: absolute;
width: 0;
border-color: #31363a transparent;
}
.description-shift {
padding-top: 16px;
color: rgb(82, 82, 82);
font-size: 16px;
line-height: 24px;
font-weight: 300;
}
.url-shift{
	margin-left:8%;
}
a.laralogo{
	font-weight: bold;
}
.lara{ color: #33383a !important;}
.naija{ color: #18BC9C !important;}
.container{
	position: relative;
}
.projects-wrapper{
  border-radius: 4px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-shadow:0 1px 4px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 4px rgba(0,0,0,.3);
  box-shadow:0 1px 4px rgba(0,0,0,.3);
  cursor:pointer;
  background-color: #ffffff;
}
.laravel-news{
  padding: 3px;
  margin-bottom:1px;
}
.laranaija-news h5{
  color: #1abc9c;
  font-weight: bold;
}
